
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        .ram{
              background-color:darkcyan;
              color:yellow;
              margin-bottom:300px;
              width:600px;
              height:400px;
        }
        .kk{
            color:black;
            
        }
    </style>
</head>
<body>
    
        <form>
            <div>
                <h1 class=kk align="center">Registeration Form</h1>
                <table class="ram" align="center" border="1">
                  
                    <tr>
                        <td>User Name:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" id="txtPwd" name="txtPwd" /></td>
                    </tr>


                    <tr>
                        <td>ConfirmPassword:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                        </tr>


                    <tr>
                        <td>FirstName:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                        </tr>


                    <tr>
                        <td>LastName:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                        </tr>


                    <tr>
                        <td>Email:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                        </tr>


                    <tr>
                        <td>PhoneNo:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                        </tr>


                    <tr>
                        <td>Location:</td>
                        <td><input type="text" id="txtName" name="txtName" /></td>
                        </tr>

                    <tr>
                        <td align="center" colspan=2>
                            <input type="submit" value="save" id="btnLogin" name="btnLogin" />
                            <input type="reset" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
   
</body>
</html>
